.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: baseline;

}

.stateInput {
  width: 320px;
  height: 44px;
  padding: 4px 16px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) -3.62%,
    rgba(255, 255, 255, 0.2) 100%
  );
  backdrop-filter: blur(15px);
  color: rgba(255, 255, 255, 0.3);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.focusInput {
  width: 320px;
  height: 44px;
  padding: 4px 16px;
  border-radius: 10px;
  border: 1px solid #fff;
  background: linear-gradient(
    0deg,
    rgba(96, 46, 166, 0.2) 0%,
    rgba(201, 119, 214, 0.2) 88.64%
  );
  backdrop-filter: blur(15px);
  color: rgba(255, 255, 255, 0.3);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  box-shadow: 0px 0px 10px 0px #763db0;
}

.titleText {
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.error {
    margin: 0;
    padding: 2px 0 0 12px;
    font-size: 12px;
    color: crimson;
}

@media (max-width: 390px) {
  .stateInput {
    width: 280px;
  }
  .focusInput {
    width: 280px;

  }
}
